<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJuPhwpZqBthJtFtzx2AVyzx2DfKVQwVk</string>
	<key>GCM_SENDER_ID</key>
	<string>757015184519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textToSpeech</string>
	<key>PROJECT_ID</key>
	<string>text-to-speech-app-7c322</string>
	<key>STORAGE_BUCKET</key>
	<string>text-to-speech-app-7c322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757015184519:ios:5f4f7e2a82e1983d60e422</string>
</dict>
</plist>